{% extends 'base.html.twig' %}

{% block title %} Bienvenue ! {% endblock %}

{% block body %}

<div class="content">

    <h1 style="color:#346E74;"> Bienvenue sur <strong> SessiOnGo </strong>  </h1>
  
</div>
{% endblock %}
