body {
    background-color: #ffffff;
}

.content {
    margin: 50px;
}

.formi{
    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
   
}