body {
    background-color: #ffffff;
}

.content {
    margin: 50px;
}

.formi{
    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
   
}

#ficheStagiaire {
    margin: 50px;
    width: 100%;
    height: 100px;
    background-color: #346E74;
    color: #ffffff;
}