body {
    background-color: #ffffff;
}

.content {
    margin: 50px;
}

.formi{
    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
   
}

#ficheStagiaire {
    background-color: #346E74;
    color: white;
    display: flex;
    height: 100px;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#DetailsStagiaire{
    margin-top: 20px;
}

#icons {
    width: 44px;
    height: 44px;
}

#iconMini {
    width: 16px;
    height: 16px;
}

#bubbleHome {
    width: 400px;
    height: 300px;
    background-color: #346E74;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#cadreBbubbles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 50px;
    gap: 50px;

}

#bubbleP {
    font-size: larger;
    color: #FFFFFF;
}

.addProgrammeSession {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    background-color: #346E74;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #295c64;
}
