{% extends 'base.html.twig' %}

{% block title %} Liste catégorie {% endblock %}

{% block body %}

<div class="">
    <h1> Liste des catégories </h1>

    {% for categorie in categories %}
        <ul>
            <li>
                <a href="{{ path('show_categorie',{'id': categorie.id })}}"> {{ categorie.nom }} </a>
            </li>
        </ul>
    {% endfor %}
    
</div>
{% endblock %}
