{% extends 'base.html.twig' %}

{% block title %} Liste catégorie {% endblock %}

{% block body %}

<div class="content">

    <div id="ficheStagiaire">
       
        <img id="icons" src="{{ asset('img/options-lines (1).png') }}" alt="Graduation Hat">&nbsp;&nbsp; <h1> Liste des catégories </h1>
        
    </div>
    
    {% for categorie in categories %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="{{ path('show_categorie',{'id': categorie.id })}}"> {{ categorie.nom }} </a>
            </li>
        </ul>
    {% endfor %}
    
</div>
{% endblock %}
